{% extends 'base.html' %}
{% load static %}
{% block title %} Courses learning English {% endblock %}

{% block static_link %}
    <link rel="stylesheet" href="{% static 'tutorial/style.css' %}">
{% endblock %}

{% block content %}

    {% for course in courses %}

        <div class="card mb-5" id="course">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ course.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                  <p>{{ course.description|safe }}</p>
              </div>
            </div>
          </div>
        </div>

    {% endfor %}

{% endblock %}